vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|10 May 2016 13:42:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|master.dwt products/default.html index-test.html index.html\\ test.html sr.html video/video.html index.html default.html about/default.html news/default.html contact/default.html index-test\\ 1.html
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|ET\\student
vti_timecreated:TR|16 Feb 2016 15:57:12 -0000
vti_nexttolasttimemodified:TW|10 May 2016 13:42:51 -0000
vti_cacheddtm:TX|10 May 2016 13:42:51 -0000
vti_filesize:IR|1258
