vti_encoding:SR|utf8-nl
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|ET\\student
vti_timelastmodified:TR|10 May 2016 13:26:28 -0000
vti_timecreated:TR|12 Apr 2016 15:02:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|master.dwt index-test.html products/default.html index.html\\ test.html sr.html video/video.html about/default.html contact/default.html default.html news/default.html index-test\\ 1.html
vti_nexttolasttimemodified:TW|10 May 2016 13:25:36 -0000
vti_cacheddtm:TX|10 May 2016 13:26:28 -0000
vti_filesize:IR|917
