vti_encoding:SR|utf8-nl
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|KEYS\\Keville
vti_timelastmodified:TW|29 Apr 2016 06:08:54 -0000
vti_timecreated:TR|05 Apr 2016 14:54:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html\\ test.html index-test.html sr.html default.html index-test\\ 1.html
vti_nexttolasttimemodified:TW|29 Apr 2016 06:08:54 -0000
vti_cacheddtm:TX|29 Apr 2016 06:08:54 -0000
vti_filesize:IR|5
